<p>Congratulations <%= name %>!</p>
<p>
  We are pleased to inform you that your Course <%= courseName %> has been approved. We hope you have an enjoyable time
  guiding the students on DigiDojo with your course! 
  <br/>
</p>