<p>Congratulations <%= name %>!</p>
<p>
  We are pleased to inform you that your Mentorship Application <%=
  mentorshipName %> has been approved. We hope you have an enjoyable mentorship
  journey with DigiDojo, and that you will be able to meet your objectives
  through this mentorship program.
  <br />
</p>
