<p>Hi <%= name%>,</p>
<p>Digi Dojo would like to inform you that your comment has been flagged as an offensive comment by the other users.</p>
<p><i>"<%= commentBody%>"</i></p>
<p>After having your comment reviewed by Digi Dojo, we have deemed it to be offensive and have deleted your comment.</p>
<p>If you would like to leave a feedback to us, please reach out to us via Digi Dojo's feedback portal.</p>
