<p>Hi <%= name%>,</p>
        <p>You have successfully reset your password.</p>
        <p> Please login with your updated password.</p>
        <p>If you did not request for this password reset, please alert DigiDojo admins.</p>
