<p>Hello <%= name %>!</p>
<p>
  Thank you for your kind patience. We are sorry to hear about your experience with <%= title %>. We have reviewed your refund request and would like to inform you that your refund request has been successfully approved.
  Please expect the refund to your paypal account at this email address within 3 working days.

  <br /><br />
  As we continue to work towards 0 student complaints here at DigiDojo, we hope that this experience has not affected your view of our platform, and look forward to seeing you again.
</p>
