<p>Hello <%= name %>!</p>
<p>
  Thank you for your kind patience. Unfortunately, your refund request for <%= title %> has been rejected.
  <br /><br />
  Please seek support for more information on how you might rectify this issue.
  <br /><br />
  Thank you for working with us at DigiDojo and we look forward to building a better world with your help.
</p>
