<p>Welcome <%= name %></p>
<p>
  Thank you for joining us here at DigiDojo. We hope you enjoy your time with
  us, and that you are able to learn and meet your objectives as a <%=
  userType%>.
</p>
<p>
  In the meantime, please verify your account at this url: <%= url%> to gain
  full access to DigiDojo.
</p>
