<p>Dear <%= name %>,</p>
<p>
  We regret to inform you that your profile as a Sensei has been rejected. We
  encourage you to reupload the relevant documents for us to reassess your
  credentials.
  <br />
  <br />
  Thank you once again for your interest in being a Sensei on DigiDojo and we
  look forward to reviewing your profile once again.
</p>
