<p>Dear <%= name %>,</p>
<p>
  We regret to inform you that your Course <%= courseName %>
  has been rejected. We encourage you to review the contents of your course once again before submitting it for approval. 
  <br />
</p>