<p>Dear <%= name %>,</p>
<p>
  We regret to inform you that your mentorship application for Mentor <%=
  mentorName %> has been rejected. We encourage you to apply for other Mentors
  available on our platform.
  <br />
  <br />
  Thank you once again for your interest in Mentor <%= mentorName %> and we hope
  that you will be able to find a suitable Mentor on DigiDojo.
</p>
